.header {
   font-family: sans-serif; 
   color: #483D8B;
   border-bottom: 1px solid gray;
}
.nav-links li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline;
    color: white;
    margin-right: 20px;
    font-weight: bold;
}
#nav {
    background-color: #008080;
    border: 1px solid gray;       
}
a:-webkit-any-link {
    color: white;
}
img {
    height: auto;
    max-width: 60%;
}
.main-title {
   font-family: 'Merriweather', serif;
   font-size: 32px;
   font-weight: 600;
   margin-bottom: 0.5em;
   color: #363636;
   line-height: 1.125;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;    
}
p {
    margin: 10px 0;
    font-size: 17px;
    color: #222222;
}
#scientific-name {
    font-style: italic;
}
.table {
    border: 1px solid black;
    padding: 5px;
    border-spacing: 0;    
}
th {
    text-align: center;
    padding: 5px;
    background: #008080;
}
tr {
    background-color: coral;
}