body {
font-size: 25px;
margin: 15px;
}
h1 {
font-size: 1.5em;
}
h2 {

}

img {
    max-width: 100%;
}

figure {
    margin: 0;
    padding: 30px;
}
@media screen and (min-width: 1065px) {
    body {
        background-color: yellow;
        font-size: 30px;
        margin: 20px;
    }
    div {
        display: flex;
        flex-flow: row wrap;              
    }
}
@media screen and (min-width: 1500px) {
    body {
        background-color: blue;
        font-size: 35px;
        margin: 25px;
        max-width: 200%;
    }
}