
    body {
      font-size: 16px;
    }
    h1 {
      font-size: 65px;
      color: orange;
      font-family: sans-serif;

    }
    .cor_fundo {
      background-color: rgb(255, 400, 200);
    }
    p {
      font-weight: 600;
      font-size: 3em;
      font-style: italic;
      line-height: 1.5em;
      text-align: left;
      text-decoration: underline;
    }
    #yellow {
      background-color: yellow;
    }
    #red {
      background-color: red;
    }
    #brown {
      background-color: brown;
    }
